*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
.env
# Visual Studio 2015
.vs/

# Ignore bin and obj folders for all dependent projects
**/bin/.*
**/obj/.*
./bin/
./obj/
./Logs/.*
src/ACL/Logs/

./SharedLibrary/obj/
./SharedLibrary/bin/
/SharedLibrary/obj/Debug/net8.0/SharedLibrary.AssemblyInfo.cs
/SharedLibrary/obj/Debug/net8.0/SharedLibrary.AssemblyInfoInputs.cache
/SharedLibrary/obj/Debug/net8.0/SharedLibrary.assets.cache
/SharedLibrary/obj/project.assets.json
/SharedLibrary/obj/project.nuget.cache
/SharedLibrary/obj/SharedLibrary.csproj.nuget.dgspec.json
/SharedLibrary/obj/SharedLibrary.csproj.nuget.g.props
/SharedLibrary/obj/SharedLibrary.csproj.nuget.g.targets
/src/ACL/Logs/2024-04-22_log.txt
/src/ACL/Logs/2024-04-22_querylog.txt
/src/ACL/Logs/2024-04-23_querylog.txt
/src/ACL/Logs/2024-04-23_log.txt
/src/ACL.Web/.idea/*
/src/ACL/.idea/.idea.ACL/.idea/*
/src/ACL.Web/Logs/*
