*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
.env
# Visual Studio 2015
.vs/

# Ignore bin and obj folders for all dependent projects
**/bin/.*
**/obj/.*
./bin/
./obj/
./Logs/.*
src/ACL/Logs/

./SharedKernel/obj/
./SharedKernel/bin/
/SharedKernel/obj/Debug/net8.0/SharedKernel.AssemblyInfo.cs
/SharedKernel/obj/Debug/net8.0/SharedKernel.AssemblyInfoInputs.cache
/SharedKernel/obj/Debug/net8.0/SharedKernel.assets.cache
/SharedKernel/obj/project.assets.json
/SharedKernel/obj/project.nuget.cache
/SharedKernel/obj/SharedKernel.csproj.nuget.dgspec.json
/SharedKernel/obj/SharedKernel.csproj.nuget.g.props
/SharedKernel/obj/SharedKernel.csproj.nuget.g.targets
/src/ACL/Logs/2024-04-22_log.txt
/src/ACL/Logs/2024-04-22_querylog.txt
/src/ACL/Logs/2024-04-23_querylog.txt
/src/ACL/Logs/2024-04-23_log.txt
/src/ACL.Web/.idea/*
/src/ACL/.idea/.idea.ACL/.idea/*
/src/ACL.Web/Logs/*

*log.txt
*.idea/
*log.txt
/ACL/src/ACL.Web/Logs/*
