APP_URL_HOSTED=http://localhost:7128/api/v1/
APP_URL=https://localhost:7125/api/v1/


DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=acl
DB_USERNAME=root
DB_PASSWORD=


REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
